title = "Index.html"
url = "/"
layout = "Razas"
is_hidden = 0

[builderList]
modelClass = "Javiertorres\Notas\Models\Notas"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "titulo"
noRecordsMessage = "No records found"
detailsPage = "nota"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<!doctype html>
<html lang="en">
  <head>
    <title>DogBeautifull</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/d8d67c135a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8d67c135a.js"></script>
    <link href="{{ 'assets/css/animate.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/bootstrap.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/owl.carousel.min.css'|theme }}" rel="stylesheet">
    <!--Las hojas de estilos son pertenecientes al slider-->
    <link href="{{ 'assets/slider/css/estilos.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/slider/css/font-awesome.css'|theme }}" rel="stylesheet">
    <!--Hasta aqui llegan las hojas de estilo del slider-->
    <!--Comiezan Hojas de estilos para el principal conjunto de imagenes de perros-->
    <link href="{{ 'assets/slider/css/conjunto_perros.css'|theme }}" rel="stylesheet">

    <!--Hasta aqui termina la seccion de hojas de estilo para la parte principal de las imagenes de los perros-->
    <link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
  </head>
  <br>
<br>
<br>
<!-- Hasta aqui es el codigo del slider -->

    <!--Empieza la seccion principal de la imagen-->

    <section class="section element-animate">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-4"></div>
          <div class="col-md-8 section-heading">
            <h2>It's a Dog Life</h2>
            <p class="small-sub-heading">Curious story of Dogs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            
            <img src="{{ 'assets/img/dog_1.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
          </div>
          <div class="col-md-4">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          </div>
          <div class="col-md-4">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><a href="#">Learn More <span class="ion-ios-arrow-right"></span></a></p>
          </div>
        </div>
      </div>
    </section>
   
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Cada perro necesita una buena dueña</h2>
            <p class="mb-5 lead">Tienes la oportunidad de convertirte en la persona mas deseada para alguno de estos animales.Porque no hacerlo??</p>
          </div>
        </div>
        <!--Carrusel de imagenes personas-->
        <div class="row element-animate">
          <div class="major-caousel js-carousel-1 owl-carousel">
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="{{ 'assets/slider/img/person_1.jpg'|media }}" alt="Image placeholder" class="img-fluid" /></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Mellisa Howard</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="{{ 'assets/slider/img/person_2.jpg'|theme }}" alt="Image placeholder" class="img-fluid" /></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Mike Richardson</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="#"><img src="{{ 'assets/img/person_3.jpg'|theme }}" alt="Image placeholder" class="img-fluid" /></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Charles White</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single.html"><img src="{{ 'assets/img/person_4.jpg'|theme }}" alt="Image placeholder" class="img-fluid" /></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Laura Smith</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!--Final de carrusel de imagenes-->
      </div>
    </section>
    <!-- END section -->

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Colecciones de razas de perros</h2>
            <p class="mb-5 lead">Ya estas aqui , Porque marcharte sin hecharle un ojo  a la galeria de algunos de nuestros animales?.Encontraras de distintas razas y tamaños.Vamos a ello!!</p>
          </div>
        </div>
<!--Imagenes de los perros en conjunto-->
        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <div class="c-img">
              <a href="single.html" class="link-thumbnail">
                <div class="txt">
                  <h3 id="h3">German Shepherd</h3>
                </div>
                <span class="ion-plus icon"></span>
                <img src="{{ 'assets/img/dog_1.jpg'|theme }}" alt="Image placeholder" id="img"   class="img-fluid" /> 
              </a>  
            </div>
             
            
          </div>
            <div class="col-md-4 element-animate">
              <div class="c-img">
                <a href="single.html" class="link-thumbnail">
                  <div class="txt">
                    <h3 id="h3">Labrador</h3>
                  </div>
                  <span class="ion-plus icon"></span>
                  <img src="{{ 'assets/img/dog_2.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
                </a>

              </div>
              
            </div>
          
          
            <div class="col-md-4 element-animate">
              <div class="c-img">
                <a href="single.html" class="link-thumbnail">
                  <div class="txt">
                    <h3 id="h3">Bulldog</h3>
                  </div>
                  <span class="ion-plus icon"></span>
                  <img src="{{ 'assets/img/dog_3.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
                </a>
              </div>
            </div>
          
         
          <div class="col-md-4 element-animate">
            <div class="c-img">
              <a href="single.html" class="link-thumbnail">
                <div class="txt">
                  <h3 id="h3">Rottweiler</h3>
                </div>
                <span class="ion-plus icon"></span>
                <img src="{{ 'assets/img/dog_4.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
              </a>
            </div>
            
          </div>
         
          
            <div class="col-md-4 element-animate">
              <div class="c-img">
                <a href="single.html" class="link-thumbnail">
                  <div class="txt">
                    <h3 id="h3">Beagle</h3>
                  </div>
                  <i class="far fa-plus"></i>
                  <img src="{{ 'assets/img/dog_5.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
                </a>
              </div>
             
            </div>
          
          
            <div class="col-md-4 element-animate">
              <div class="c-img" >
                <a href="single.html" class="link-thumbnail">
                  <div class="txt">
                    <h3 id="h3">Golden Retriever</h3>
                  </div>
                  <span class="ion-plus icon"></span>
                  <img src="{{ 'assets/img/dog_6.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
                </a>
              </div>
             
            </div>
          
        </div>
        
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <!-- END section -->

    <!--Comienza el blog-->
    
    <section class="section blog">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">
              Publicación reciente en el blog</h2>
            <p class="mb-5 lead">La informacion mas reciente acerca de nuestra comunidad. </p>
          </div>
        </div>

        <div class="rownota">
          <div class="col-md-6">
            {% set records = builderList.records %}
            {% set displayColumn = builderList.displayColumn %}
            {% set noRecordsMessage = builderList.noRecordsMessage %}
            {% set detailsPage = builderList.detailsPage %}
            {% set detailsKeyColumn = builderList.detailsKeyColumn %}
            {% set detailsUrlParameter = builderList.detailsUrlParameter %}
            
           
            
            
            <ul class="record-list"> 



              <div class="media mb-4 d-md-flex d-block element-animate">
                <div class="media-body">
                {% for record in records %}

             
              <span class="post-meta"> {{record.fecha}}</span>
                  
               
               <h3 class="mt-2 text-black">
                 
                {% spaceless %}
                  
                    {% if detailsPage %}

                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record,detailsKeyColumn) }) }}
                    
                    ">
                      {% endif %}

                      {{record.titulo}}

                   {% if detailsPage %}   

                    </a>

                    {% endif %}

                    {% endspaceless %}
              
                </h3>
              
              <br>
                   
              <img src="{{record.fileupload1.path}}" alt="Placeholder image" class="imgnota">
                
                <br>
                <br>
              {{html_limit(record.descripcion,150)|raw}}
              
           <br>
           
                   
                 {% endfor %}  
                </div> 
              </div>
            </ul>

           
        </div>
      </div>
    </section>
    <!--Termina la seccion del blog-->
     
    <!--Footer-->
    
    
    <!--Scripts-->
    <script src="{{ 'assets/js/main.js'|theme }}"></script>
    <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script src="{{ 'assets/jsjquery.waypoints.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery-3.2.1.min.js'|theme }}"></script>
<!--Hojas de javascript correspondientes al slider-->
<script src="{{ 'assets/slider/js/main.js'|theme }}"></script>
<!--Final de las hojas de javascript-->

    

    {%scripts%}
  </body>
</html>