title = "Nota"
url = "/nota/:id"
layout = "Razas"
is_hidden = 0

[builderDetails]
modelClass = "Javiertorres\Notas\Models\Notas"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "titulo"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}
<div class="impresion">

    {% if record %}
    <h3 class="titulonota">{{ attribute(record, displayColumn) }}</h3>
    

</div>
<div class="impcuerpo">
    {{record.descripcion|raw}}
</div>
<div class="imgdnota">
    <img src="{{record.fileupload1.path}}" alt="Placeholder image">
</div>

{% else %}
    {{ notFoundMessage }}
{% endif %}

