==
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<header role="banner" id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand absolute" href="index.html">breed</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Breed</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">German Shepherd</a>
              <a class="dropdown-item" href="#">Labrador</a>
              <a class="dropdown-item" href="#">Rottweiler</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>
<!-- END header -->
<!--slider-->
<body>
<!--Carrusel de Imagenes-->

<div class="slideshow">
<ul class="slider">

<li>
<img src="{{ 'assets/slider/img/slider-1.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />
<section class="caption">
 <h1 class="titulo_slider">AMAMOS A LAS MASCOTAS.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p>
  <br>
  <div class="btn-1">
    <input type="submit" value="Get Started" class="btn"><input type="submit" value="Descargar" class="btnn">
  </div>
  </section>
  </li>
  <li>
<img src="{{ 'assets/slider/img/slider-2.jpg'|theme }}" alt="Image placeholder" class="img-fluid" />          <section class="caption">
<h1 class="titulo_slider">CUIDAR PERROS</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ipsa, id quidem quisquam unde.</p>
</section>



</li>

</ul>
<ol class="pagination">
 
</ol>

<div class="left">
    <span class="fa fa-chevron-left"></span>
</div>

<div class="right">
    <span class="fa fa-chevron-right"></span>
</div>

</div>


<body>
  
  
</body>
</html>
