/*.record-list{
    background: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    columns: 3;


}
.record-list a{
    font-size: 25px;
    color: orange;  
}
*/
.imgnota{
    width: 300px;
    height: 350px;
    border-radius: 4px;
}
.media-body{
    columns: 2;
    column-gap: 125px;
    text-align:center;
}
.post-meta{

}
.mt-2 text-black{

}
.impresion{
    padding: 25px;
    text-align: center;
    padding-top: 70px;
}
.titulonota{
    font-size: 35px;
    font-family: cursive;
}
.impcuerpo{
    padding: 35px;
    text-align: justify;
    line-height: 15px;
    columns: 2;
    padding-right: 15px;
    -moz-column-width: 50%;
}
.imgdnota{
    padding: 25px;
    align-items: center;
}
.imgnota{

}
/*.rownota{
    width: 100%;
    padding: 25px;
    background-color: orange;
    align-items: center;
    text-align: center;
    



}
*/
.record-list{
    margin-left: 25%;
    margin-top: 20%;
}