==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d8d67c135a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8d67c135a.js"></script>
    <link href="{{ 'assets/css/animate.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/bootstrap.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/owl.carousel.min.css'|theme }}" rel="stylesheet">
    <!--Las hojas de estilos son pertenecientes al slider-->
    <link href="{{ 'assets/slider/css/estilos.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/slider/css/font-awesome.css'|theme }}" rel="stylesheet">
    <!--Hasta aqui llegan las hojas de estilo del slider-->
    <!--Comiezan Hojas de estilos para el principal conjunto de imagenes de perros-->
    <link href="{{ 'assets/slider/css/conjunto_perros.css'|theme }}" rel="stylesheet">
    <!--Hasta aqui termina la seccion de hojas de estilo para la parte principal de las imagenes de los perros-->
    <link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <!-- Theme Style -->
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    <!--Css para las notas que yo agrego-->
    <link href="{{ 'assets/css/mis_notas.css'|theme }}" rel="stylesheet">

    <title>Document</title>
</head>
   <!--Header-->

   {% partial 'Header' %}
   
   <!--Final del header-->
<body>

 

    <!--Contenido general de las pages(Paginas)-->

    <section >
        {% page %}
    </section>

    <!--Hasta aqui llega el contenido de las pages-->








     <!--Footer-->

     {% partial 'Footer' %}

     <!--Termina el footer-->

    
     <!--Comienzan los Scripts-->
     <script src="{{ 'assets/js/main.js'|theme }}"></script>
     <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
     <script src="{{ 'assets/jsjquery.waypoints.min.js'|theme }}"></script>
     <script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
     <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
     <script src="{{ 'assets/js/jquery-3.2.1.min.js'|theme }}"></script> 
 <!--Hojas de javascript correspondientes al slider-->
 <script src="{{ 'assets/slider/js/main.js'|theme }}"></script>
 <!--Final de las hojas de javascript-->
 
     
 
     {%scripts%}
</body>
</html>