/*.c-img{
    overflow: hidden;
    display: flex;
    align-items:flex-end;
    justify-content: center;
   

}
.c-img:hover{
    transition: all .3s;
    transform: scale3d(.5);
}

h3{
    text-align: center;
    color:#fff;
    vertical-align: middle;
    align-items: flex-end;
}
.txt{
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    
    
    transition: all .3s;
    transform: scale(1.0);
    opacity: 0;
}

.txt:hover{
    opacity: 1;
    align-items: flex-end;
    
}
*/
/*Este es el css del menu principal*/
#header{
    justify-content: center;
    display: inline;
    align-items: center;
}

.txt{   
    /* text-align: center; */
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    
    
    transition: all .3s;
    transform: scale(1.0);
    opacity: 0;
}
.txt:hover{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.ul_menu{
    background: transparent;
    display: inline;
}
#Menu12{
    display: inline;

}

.c-img{
    width: 370px;
    height: 370px;
    overflow: hidden;
    border-radius: 7px;
   
}
.c-img img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}
.c-img img:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}
.c-img .txt:hover{
    opacity: 1;
    
}
.c-img .txt{
    padding-top: 90%;
    margin-left: 25%;
    width:50%;
    height: 25%;
}
.c-img i{
    position: absolute;
    margin-top: 70%;
    margin-left: 50%;
    
}    


  

   

  
    
